In [14]:
'''
chatgpt has an exercise for me:

                       Exercise 1: Basic DataFrame Operations
Using pandas, create a DataFrame from the dictionary below. Then, perform the following tasks:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"],
    "Salary": [70000, 80000, 120000, 90000],
}

1    Create a pandas DataFrame from the dictionary.
2    Display the first 2 rows of the DataFrame.
3    Select only the "Name" and "Salary" columns.
4    Filter the DataFrame to include only rows where the "Age" is greater than 30.
5    Add a new column called "Tax" that is 20% of the "Salary."
'''
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"],
    "Salary": [70000, 80000, 120000, 90000],
}

# Part 1
df1 = pd.DataFrame(data)

# Part 2
print(df1.head(2))

# Part 3
print(df1[['Name', 'Salary']])

# Part 4
old = df1['Age'] > 30
print(df1[old])

# Part 4 concise
print(df1[df1['Age'] > 30])

# Part 5
df1['Tax'] = df1['Salary'] * 0.2
print(df1)

    Name  Age         City  Salary
0  Alice   25     New York   70000
1    Bob   30  Los Angeles   80000
      Name  Salary
0    Alice   70000
1      Bob   80000
2  Charlie  120000
3    David   90000
      Name  Age     City  Salary
2  Charlie   35  Chicago  120000
3    David   40  Houston   90000
      Name  Age     City  Salary
2  Charlie   35  Chicago  120000
3    David   40  Houston   90000
      Name  Age         City  Salary      Tax
0    Alice   25     New York   70000  14000.0
1      Bob   30  Los Angeles   80000  16000.0
2  Charlie   35      Chicago  120000  24000.0
3    David   40      Houston   90000  18000.0

In [20]:
'''
my next pandas exercise from chatgpt:
Simpler Exercise 2: Exploring pandas Basics

1    Import the pandas library.
2    Create a pandas Series (like a one-dimensional array) using the list: [10, 20, 30, 40, 50].
3    Assign the following labels to the Series: ["a", "b", "c", "d", "e"].
4    Print the value associated with the label "c".
5    Compute the sum of all the values in the Series.
'''

# Part 1
# I did this earlier in the notebook so commenting out.
# import pandas as pd

# Part 2
data = [10, 20, 30, 40, 50]
ser = pd.Series(data)
print(ser)

# Part 3
ser.index = ["a", "b", "c", "d", "e"]
print(ser)

# Part 4
print(ser['c'])

# Part 5
sum = 0
for index, value in ser.items():
    sum += value
print(sum)

# Part 5 idiomatic?
print(ser.sum())

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
30
150
150

In [24]:
'''
Another Series exercise from ChatGPT
Exercise 3: More with Series

1    Create a pandas Series using the following data and labels:
        Data: [3.5, 7.2, 1.8, 9.4, 6.3]
        Labels: ["Jan", "Feb", "Mar", "Apr", "May"]
2    Find the mean of all the values.
3    Multiply all values by 2 and save the results as a new Series called double_series.
4    Filter and display only the months where the value is greater than 10 in the double_series.
'''
data = [3.5, 7.2, 1.8, 9.4, 6.3]
labels = ["Jan", "Feb", "Mar", "Apr", "May"]

# Part 1
ser = pd.Series(data, index=labels)
print (ser)

# Part 2
print(ser.mean())

# Part 3
double_ser = ser.mul(2)
print(double_ser)

# Part 4
print(double_ser[ double_ser > 10 ])

Jan    3.5
Feb    7.2
Mar    1.8
Apr    9.4
May    6.3
dtype: float64
5.64
Jan     7.0
Feb    14.4
Mar     3.6
Apr    18.8
May    12.6
dtype: float64
Feb    14.4
Apr    18.8
May    12.6
dtype: float64

In [12]:
'''
ChatGPT has more DataFrame work for me.

Exercise 4: Basic DataFrame Creation and Exploration

1)     Create the following pandas DataFrame:

    Name     Age     Department
0   Alice    25      HR
1   Bob      30      IT
2   Charlie  35      Finance
3   David    40      Marketing

2) Display the following:

    All the column names.
    All the rows of the "Department" column.
    The row where the "Name" is "Charlie."

3) Add a new column called "Years at Company" with the values [1, 3, 5, 7].

4) Drop the "Age" column from the DataFrame and display the updated DataFrame.
'''
import pandas as pd

# Part 1
df = pd.DataFrame({
    'Name':       ['Alice', 'Bob', 'Charlie', 'David'],
    'Age':        [ 25,      30,    35,        40],
    'Department': ['HR',    'IT',  'Finance', 'Marketing']})
print (df)

# Part 2
# column names
print(df.columns)
# rows in department column
print(df['Department'])
# filter name is Charlie
print(df[df['Name'] == 'Charlie'])

# Part 3
df['Years at Company'] = [1, 3, 5, 7]
print(df)

# Part 4
df.drop(columns=['Age'], inplace=True)
print(df)

      Name  Age Department
0    Alice   25         HR
1      Bob   30         IT
2  Charlie   35    Finance
3    David   40  Marketing
Index(['Name', 'Age', 'Department'], dtype='object')
0           HR
1           IT
2      Finance
3    Marketing
Name: Department, dtype: object
      Name  Age Department
2  Charlie   35    Finance
      Name  Age Department  Years at Company
0    Alice   25         HR                 1
1      Bob   30         IT                 3
2  Charlie   35    Finance                 5
3    David   40  Marketing                 7
      Name Department  Years at Company
0    Alice         HR                 1
1      Bob         IT                 3
2  Charlie    Finance                 5
3    David  Marketing                 7